/*------------------------------------
  Card
------------------------------------*/
.product {
    position: relative;

    .prodcut-footer {
        display: none;
    }

    @include media-breakpoint-up(xl) {
        &:hover {
            .product-inner {
                position: absolute;
                width: 100%;
                height: auto;
                min-height: 100%;
                box-shadow: 0px 0px 6px 0px rgba(1, 1, 1, 0.3);
                background-color: $white;
                z-index: 1;
            }

            .prodcut-footer {
                display: block;
            }
        }
    }
}

.products-4-1-4 {
    @include media-breakpoint-up(xl) {
        .products-1 {
            .product-body {
                height: 100%;
            }

            .product {
                &:hover {
                    .product-inner {
                        height: calc(100% + 35px);
                    }

                    .product-body {
                        height: calc(100% - 28px);
                    }
                }
            }
        }
    }
}
