/*------------------------------------
  Form
------------------------------------*/

.form-label {
    display: block;
    text-transform: capitalize;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
}
