/*------------------------------------
  Madrasthemes variables
------------------------------------*/

// Color System
// =========================================================

// Grays
$gray-20:                                                   #e8e8e8 !default;
$gray-30:                                                   #a0a0a0 !default;
$gray-40:                                                   #cad5d5 !default;
$gray-50:                                                   #959595 !default;
$gray-60:                                                   #6b6b6b !default;
$gray-70:                                                   #334141 !default;
$gray-80:                                                   #dddddd !default;
$gray-90:                                                   #333e48 !default; //body color
$gray-1000:                                                 #b0b5b9 !default;
$gray-2000:                                                 #f5f5f5 !default;
$gray-3000:                                                 #bcbcbc !default;
$gray-4000:                                                 #383838 !default;
$gray-5000:                                                 #eeeeee !default;
$gray-6000:                                                 #e6e6e6 !default;
$gray-7000:                                                 #343f49 !default;
$gray-8000:                                                 #878787 !default;
$gray-9000:                                                 #848484 !default;
$gray-10000:                                                #f9f9f9 !default;
$gray-11000:                                                #7b8186 !default;
$gray-12000:                                                #8f8f8f !default;
$gray-13000:                                                #f8f8f8 !default;
$gray-14000:                                                #eaeaea !default;
$gray-15000:                                                #7c7c7c !default;

// Colors
$yellow:                                                    #fed700 !default;
$dark:                                                      $gray-90 !default;
$black:                                                     #000000 !default;
$blue:                                                      #0062bd !default;
$cyan:                                                      #34bcec !default;
$red:                                                       #ee0000 !default;
$sale:                                                      #df3737 !default;

// Theme Colors
$primary:                                                   $yellow !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "dark":       $dark,
    "cyan":       $cyan,
    "sale":       $sale,
    "gray-1":     $gray-2000, //#f5f5f5
    "gray-2":     $gray-4000, //#383838
    "gray-3":     $gray-5000, //#eeeeee
    "gray-4":     $gray-6000, //#e6e6e6
    "gray-5":     $gray-8000, //#878787
    "gray-6":     $gray-9000, //#848484
    "gray-7":     $gray-10000, //#f9f9f9
    "gray-8":     $gray-11000, //#7b8186
    "gray-9":     $gray-12000, //#8f8f8f
    "gray-13":    $gray-13000, //#f8f8f8
    "gray-14":    $gray-14000 //#eaeaea
  ),
  $theme-colors
);


// Breakpoints
// =========================================================

$xs:                                                        0;
$sm:                                                        576px;
$md:                                                        768px;
$lg:                                                        992px;
$xl:                                                        1200px;
$wd:                                                        1480px; /* EOC */

$grid-breakpoints: (
  xs:                                                       $xs,
  sm:                                                       $sm,
  md:                                                       $md,
  lg:                                                       $lg,
  xl:                                                       $xl,
  wd:                                                       $wd /* EOC */
) !default;


// Grid containers
// =========================================================
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  wd: 1430px /* EOC */
) !default;


// Spacing
//

// stylelint-disable
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 2),
  6: ($spacer * 2.5),
  7: ($spacer * 3),
  8: ($spacer * 3.5),
  9: ($spacer * 4),
  10: ($spacer * 4.5),
  11: ($spacer * 5),
  12: ($spacer * 5.5),
  13: ($spacer * 6),
  14: ($spacer * 6.5),
  15: ($spacer * 7),
  16: ($spacer * 8),
  17: ($spacer * 9),
  18: ($spacer * 10),
  19: ($spacer * 10.6),
  20: ($spacer * 12.4)
), $spacers);

// Body
// =========================================================
// Settings for the `<body>` element.

$body-color:                $gray-90 !default;


// Fonts
// =========================================================
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:                                    "Open Sans", Helvetica, Arial, sans-serif !default;
$font-size-base:                                            .875rem !default; // Assumes the browser default, typically 16px

$font-weight-light:                                         300 !default;
$font-weight-medium:                                        500 !default;
$font-weight-semi-bold:                                     600 !default;
$font-weight-bold:                                          700 !default;


// Borders
// =========================================================

$border-radius-pill:                                        6.1875rem !default;


// Header
// =========================================================

// Text Colors
$header-nav-link-color:                                     $gray-90 !default;
$header-nav-link-active-color:     							$dark !default;
$header-nav-link-hover-color:            				    $dark !default;
$header-topbar-nav-link-color:                              $gray-70 !default;
$header-topbar-nav-link-hover-color:                        $gray-90 !default;
$header-topbar-nav-separator-color:                         $gray-40 !default;

// Font
$header-topbar-nav-link-font-size:                          .813rem !default;
$header-topbar-nav-link-icon-font-size:                     ($font-size-base * 1.286) !default; //18px
//$header-nav-link-icon-font-size:                            ($font-size-base * .625) !default;
//$header-navbar-link-font-size:                              ($font-size-base * .875) !default;
$header-sub-menu-nav-link-font-size:             			$font-size-base !default;
//$header-sub-menu-title-font-size:                           ($font-size-base * 1) !default;
$header-sub-menu-title-font-weight:                         $font-weight-bold !default;

// Borders
$header-topbar-border-color:                                $gray-20 !default;
$header-sub-menu-border-top-width:                          ($font-size-base * .125) !default;
$header-sub-menu-bottom-border-radius:                      ($font-size-base * .5) !default;

// Box Shadow
$header-submenu-box-shadow:                                 0 2px 5px rgba($black, .28) !default;

// Padding Spaces
$header-nav-link-paddingY:                                  .781rem !default; //12.5px
$header-nav-link-paddingX:                                  .99rem !default;
$header-sub-menu-nav-link-paddingY:                         ($font-size-base * 0.38) !default; //5px

// Vertical-Menu - Padding Spaces
$header-vmm-nav-item-paddingX:                              $font-size-base !default; //14px
$header-vmm-nav-link-paddingY:                              ($font-size-base * 0.464) !default; //6.5px
$header-vmm-nav-link-paddingX:                              ($font-size-base * 0.357) !default; //5px
$header-vmm-nav-bar-nav-paddingY:                           ($font-size-base * 0.5) !default; //7px
$header-vmm-wrapper-paddingY:                               ($font-size-base * 2.571) !default; //36px

// Vertical-Menu - Position
$header-vertical-mega-menu-position:                        absolute !default;
$header-vertical-mega-menu-position-top:                    100% !default;
$header-vertical-mega-menu-position-left:                   0 !default;
$header-vertical-mega-menu-position-right:                  $header-vertical-mega-menu-position-left !default;

// Vertical-Menu - Border
$header-vmm-nav-link-border-color:                          $gray-80 !default;

// Vertical-Menu - Font
$header-vmm-nav-link-toggle-icon-color:                     $gray-1000 !default;
$header-vmm-nav-link-toggle-icon-size:                      ($font-size-base * 1.143) !default; //16px
$header-vmm-nav-link-hover-color:                           $gray-2000 !default;


// Drop Down
// =========================================================

// Colors
$dropdown-link-color:                                       $gray-70 !default;

// Type
$dropdown-item-font-size:                                   $font-size-base !default;

// Box Shadow
$dropdown-box-shadow:                                       0 2px 5px rgba($black, .28) !default;


// Borders
// =========================================================
$border-radius-lg:                                          ($font-size-base * .714) !default;


// Hamburgers
// =========================================================

// Width & Heights
$hamburger-layer-width:             						($font-size-base * 1.071) !default;
$hamburger-layer-height:            						.130rem !default;

// Tooltip
// =========================================================

// Background Color
$tooltip-bg:                                                $black !default;


// Slick
// =========================================================

$slick-pagination-long-dot-bg-color:                        $gray-3000 !default;
$slick-pagination-long-active-dot-border-radius:            $border-radius-pill !default;


// Media Player
// =========================================================

$media-viewer-icon-width:                                   1.5rem !default;


// Links
// =========================================================

// Background Color
$link-icon-bg-color:                                        $primary !default;

// Width & Heights
$link-icon-width:                                           1.063rem !default;
$link-icon-height:                                          $link-icon-width !default;

// List Group
// =========================================================

$list-group-item-padding-y:         .32rem !default;

// Colors
$list-group-action-hover-color:                             $black !default;
$list-group-action-active-color:                            $list-group-action-hover-color !default;
$list-group-action-color:                                   $gray-90 !default;

// Font Sizes
$list-group-item-font-size:                                 $font-size-base !default;
