/*------------------------------------
  Position Spaces
------------------------------------*/

.top-n2 {
    top: -($font-size-base * .143); //-2px
}

.top-2 {
    top: ($font-size-base * .143); //2px
}

.top-8 {
    top: ($font-size-base * .571); //8px
}

.top-10 {
    top: ($font-size-base * .625); //10px
}

.top-100 {
    top: 100%; //100%
}

.left-100 {
    left: 100% !important; //100%
}

.left-12 {
    left: ($font-size-base * .857); //12px
}

.bottom-1 {
    bottom: 1rem;
}

.bottom-100 {
    bottom: 100%;
}

.right-1 {
    right: 1rem;
}

.right-2 {
    right: 2rem;
}

.right-3 {
    right: 3rem;
}
