/*------------------------------------
  Width
------------------------------------*/

.width-22 {
    width: ($font-size-base * 1.571); //22px
}

.max-width-300 {
    max-width: 18.75rem;
}

.min-width-300 {
    min-width: 18.75rem;
}


/*------------------------------------
  Height
------------------------------------*/

.height-22 {
    height: ($font-size-base * 1.571); //22px
}

.height-40 {
    height: ($font-size-base * 2.929); //40px
}
