/*------------------------------------
  Text Colors
------------------------------------*/

.text-gray-30 { //#a0a0a0
    color: $gray-30;
}

.text-gray-50 { //#959595
    color: $gray-50;
}

.text-gray-60 { //#6b6b6b
    color: $gray-60;
}

.text-gray-90 { //#333e48
    color: $gray-90;

    &[href]:hover {
		color: $gray-90;
	}
}

.text-gray-100 {
    color: $gray-7000; //#343f49
}

.text-gray-110 {
    color: $gray-15000; //#7c7c7c
}

.text-blue { //#0062bd
    color: $blue;

    &[href]:hover {
		color: lighten($blue, 2%);
	}
}

.text-red { //#ee0000
    color: $red;
}

.hover-on-dark {
    &:hover {
        color: $gray-90 !important;
    }
}
