/*------------------------------------
  Links
------------------------------------*/

.link {
    &__icon {
        i {
            color: $white;
            margin-top: 2px;
            font-size: 0.938rem;
        }
    }
}
