/*------------------------------------
  Default Styles
------------------------------------*/

sub, sup {
    font-size: 60%;
}

strong {
    font-weight: $font-weight-bold;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: $font-weight-normal;
}

del {
    text-decoration: line-through;
}
