.product-item {
    @include hover-focus() {
        box-shadow: 0 0 6px 0 rgba(1,1,1,.3);
        background-color: #fff;

        .product-item__footer {
            display: block;
        }
    }

    &:after {
       content: '';
       border-right: 1px solid #eaeaea;
       display: block;
       position: absolute;
       top: 50%;
       right: 0;
       height: 70%;
       transform: translateY(-50%);
   }
}

.product-item__categories {
    a {
        @include hover-focus() {
            color: #3b3b3b;
        }
        margin-bottom: 9px;
        font-size: 12px;
        color: #878787;
        text-decoration: none;
        display: block;

    }

}

.product-item__title {
    font-size: 14px;
    color: #0062bd;
    font-weight: bold;
    margin-bottom: 10px;

    a {
        color: #0062bd;
        text-decoration: none;
    }
}

.product-item__thumbnail {
    img {
        margin: auto;
        max-width: 100%;
        display: block;
    }
}

.product-item__price-add-to-cart {
    margin: 8px 0px;
    display: flex;
    justify-content: space-between;
    line-height: 37px;
    align-items: center;

    .price-amount {
        color: #343f49;
        font-size: 20px;
        del{
            font-size: 12px;
            line-height: 18px;
            color: #848484;
        }
    }
    .cart-button {
        @include make-button( 3.5px,7.5px,$font-size-base,$btn-line-height,50%);
        @include button-variant( #e6e6e6, transparent,#fed700);
        &:focus {
                box-shadow: none;
                outline: none;
             }
    }
    i {
        color: #fff;
    }
}

.product-item__action-buttons a {
    text-decoration: none;
    color: #848484;
    font-size: 13px;
}

.product-item__footer {
    border-top: 1px solid #eaeaea;
    display: none;
    padding-top: 6px;
}


.product-item__action-buttons {

    @include make-row();
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;

    a {
        padding: 0px 3px;

        @include hover-focus() {
            color: #3b3b3b;
        }

    }

    i {
        margin-right: 7px;
        font-size: 16px;
    }
}