.header-icons-inner {
	display: flex;
	justify-content: flex-end;
}
.header-icon + .header-icon {
	padding-left: 20px;
}
.masthead , .electro-navigation {
	@include make-row();
}
.masthead .navbar-search {
	@include make-auto-col();
}