.header-icons-inner {
	display: flex;
	justify-content: flex-end;
}

.header-icon + .header-icon {
	padding-left: 20px;
}

/*.masthead , .electro-navigation {
	@include make-row();
}

.masthead {

	.navbar-search, .electro-secondary-nav  {
		@include make-auto-col();
	}
}

.masthead {
		.logo, .header-icons, {
			@include make-col-ready();
			@include make-col(3);
		}
}

.electro-navigation .departments-menu {

		@include make-col-ready();
		@include make-col(3);
}
*/

.masthead {
	@include make-row();

	> .logo,
	> .header-icons,
	> .navbar-search {
		@include make-col-ready();
	}

	> .logo,
	> .header-icons {
		@include make-col(3);
	}

	> .navbar-search {
		@include make-auto-col();
		padding-left: 0;
		padding-right: 0;		
	}
}