.topbar__menu {
	@include make-nav();

	i {
		margin-right: 6px;
	}
}
.top-bar-inner {
	display: flex;
	justify-content: space-between;

	a {
		@include make-nav-link();
		color: #334141;
	}
}
.topbar-left a{
	padding: 7px 0px;
}

.topbar-right a{
	padding-right: 0px;
} 
