.banners {
    @include make-row();

    .banner {
        @include make-col(4);
        @include make-col-ready()
    }

    a{
        display: flex;
        text-decoration: none;
    }

    .banner-media-body {
        @include make-col(6);
        @include make-col-ready();
        align-self: center;
        height: 100%;
    }

    .banner-text {
        font-size: 18px;
        color: #333e48;
        line-height: 23px;
    }

    .banner-action {
        font-size: 15px;
        color: #333e48;
        line-height: 30px;
        font-weight: 700;
        padding-top: 5px;
    }

    i {
        background: #fed700;
        padding: 5px 6px;
        font-size: 9px;
        border-radius: 12px;
        margin-left: 8px;
        color: #ffffff;

    }
    .upto {
            text-transform: uppercase;
            font-weight: 300;

            .prefix {
                font-size: 0.919em;
                line-height: 0.909em;
                display: inline-block;
                width: 1.321em;
                margin-right: 4px;
            }

            .value {
                font-weight: bold;
                font-size: 2.173em;
                letter-spacing: -0.025em;
                line-height: 0.592em;

                sup {
                    top: -0.25em;
                }
            }

            .suffix {
                top: -0.5em;
                position: relative;
                font-weight: bold;
                vertical-align: top;
                margin-left: 2px;
            }
        }

    .banner-inner {
        background: #f5f5f5;
        padding: 12px 20px 12px 5px;

    }
}
