.ad-block {
    @include make-row();

    .ad {
        @include make-col(4);
        @include make-col-ready()
    }

    a{
        display: flex;
        text-decoration: none;
    }

    .ad-media-body  {
        @include make-col(6);
        @include make-col-ready();
        align-self: center;
        height: 100%;

        strong {
            font-weight: 700;
        }
    }

    .ad-text {
        font-size: 17px;
        color: #333e48;
        line-height: 21px;
        font-weight: 200;
    }

    .ad-action {
        font-size: 15px;
        color: #333e48;
        line-height: 30px;
        font-weight: 700;
        
    }

    i {
        background: #fed700;
        padding: 5px 6px;
        font-size: 9px;
        border-radius: 12px;
        margin-left: 8px;
        color: #ffffff;

    }
    .upto {
            font-weight: 300;

            .prefix {
                font-size: 12px;
                line-height: 11px;
                display: inline-block;
                width: 17px;
                margin-right: 4px;
            }

            .value {
                font-weight: bold;
                font-size: 30px;
                letter-spacing: -0.025em;
                line-height: 0.592em;

                sup {
                    top: -0.25em;
                }
            }

            .suffix {
                top: -0.5em;
                position: relative;
                font-weight: bold;
                vertical-align: top;
                margin-left: 2px;
            }
        }

    .ad-inner {
        background: #f5f5f5;
        padding: 12px 20px 12px 5px;

    }
}
