.deals-and-tabs {
    @include make-row();
    .deals-block{
        @include make-col(4);
        @include make-col-ready();

        .section-onsale-product {
            padding: 20px 21px 7px 21px;
            border: 2px solid #fed700;
            border-radius: 21px;

            .product-thumbnail img{
                max-width: 100%;
            }
        }

        h2 {
            font-size: 22px;
            line-height: 28px;
            color: #343f49;
        }

        .onsale-product {
            text-align: center;
            a{
                @include hover-focus() {
                    text-decoration: none;
                }
            }

            .sale-price {
                font-size: 30px;
                color: #e00;
                padding-left: 10px;
            }

            .deals-del-amount {
                font-size: 18px;
                color: #848484;
            }

            .deal-progress {
                .deal-stock {
                    display: flex;
                    justify-content: space-between;
                    color: #383838;
                    font-size: 15px;
                    line-height: 18px;
                }
            }

            .marketing-text {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 15px;
                color: #333e48;
            }

            .product-thumbnail {
                margin-bottom: 10px;
            }
        }

        .deals-product-title {
            font-size: 14px;
            line-height: 18px;
            color: #0062bd;
            font-weight: 700;
            margin-bottom: 17px;
        }

        .deals-block-header {
            display: flex;
            justify-content: space-between;
            

            .savings {
                background: #fed700;
                width: 76px;
                height: 76px;
                border-radius: 80px;
                color: #000;
                position: relative;

                .deals-amount {
                    font-size: 20px;
                    line-height: 18px;
                    display: block;
                    font-weight: 700;
                    color: #343f49;
                }

                .savings-text {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 1;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    display: block;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
    .tabs-block {
        @include make-col(8);
        @include make-col-ready();

        .products-carousel-tabs .nav {
            position: relative;
            justify-content: center;
            margin-bottom: 7px;

            a {
                font-size: 18px;
                line-height: 34px;      
                color: #343f49;
                margin: 2px 16px;
                padding: 0;
            }
        }
    }
}
.products-carousel-tabs
.nav-inline {

    &:before {
        content: ' ';
        border-bottom: 1px solid #ddd;
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
    }

    .active {
        position: relative;
        font-weight: 700;

        &:after {
            content: ' ';
            border-bottom: 2px solid #fed700;
            display: block;
            position: absolute;
            top: 103%;
            width: 100%;
            right: 1px;
        }

        &:before{
            content: ' ';
            height: 4px;
            width: 10px;
            display: block;
            position: absolute;
            top: 107%;
            left: 50%;
            border-radius: 0 0 10px 10px;
            transform: translateX(-50%);
            background: #fed700
        }
    }
}