.footer-column-widgets{
    @include make-row();
    margin-bottom: 45px;
    background-color: #fff;

    &.column-1 .widget-column{
       @include make-col(12);
   }

    &.columns-3 .widget-column{
        @include make-col(4);
    }

    &.columns-2 .widget-column{
        @include make-col(6);
    } 

    &.columns-4 .widget-column{
        @include make-col(3);
    }

    &.columns-5 .widget-column{
        @include make-col(2.4);
    }

    &.columns-6 .widget-column{
        @include make-col(2);
    }

    .product_list_widget {
        @include list-unstyled;
    }
    .widget-column{
        @include make-col(4);
        @include make-col-ready();

        .widget-title{
            position: relative;
            font-size: 20px;
            line-height: 22px;
            font-weight: 500;
            padding: 15px 0;
            border-bottom: 1px solid #dadada;
            margin-bottom: 40px;

            &:after{
                content: ' ';
                width: 83px;
                border-bottom: 2px solid #fed700;
                display: block;
                position: absolute;
                top: 100%;
            }
        }

        a{
            font-size: 14px;
            line-height: 18px;
            color: #0062bd;
            font-weight: 700;
            text-decoration: none;
            display: flex;
        }

        img{
            margin-right: 20px;
            width: 75px;
            height: 75px;
            margin-right: 20px;
        }
        li {
            display: flex;
            margin-bottom: 18px;
        }
        .electro-price{
            font-size: 15px;
            del{
                font-size: 12px;
                line-height: 15px;
                color: #8f8f8f;
            }
        }
    }
    .star-rating {
        overflow: hidden;
        position: relative;
        height: 16px;
        line-height: 1;
        font-size: 16px;
        width: 77px;
        font-family: 'Font Awesome 5 Free';
        margin: 8px 0;

        &:before {
            content: "\f005\f005\f005\f005\f005";
            color: rgba(0,0,0,0.2);
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            font-size: 14px;
        }

        span {
            overflow: hidden;
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            padding-top: 24px;

            &:before {
                content: "\f005\f005\f005\f005\f005";
                top: 0;
                position: absolute;
                left: 0;
                color: #fed700;
                font-weight: 700;
                font-size: 14px;
                width: 80%;
                overflow: hidden;
            }
        }
    }

    .price-value {
        margin-top: 23px;
        display: block;
    }
}