.section-product-cards-carousel {
    margin-bottom: 40px;
    .show-nav{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 1px solid #dadada;
        margin-bottom: 14px;

        .section-product-cards{
            font-size: 22px;
            line-height: 18px;
            color: #333e48;
            position: relative;
            padding-bottom: 9px;
            margin: 0;
            line-height: 35px;

            &:after{
                content: ' ';
                border-bottom: 2px solid #fed700;
                display: block;
                position: absolute;
                top: 100%;
                width: 100%;
            }
        }

        .nav-link{
            font-size: 15px;
            line-height: 18px;
            color: #7b8186;
        }

        .active .nav-link{
            color: #333e48;
            border: 2px solid #fed700;
            border-radius: 15px;
            padding: 4.6px 21.5px;
            font-size: 15px;
            line-height: 15px;
        }
    }
    .card-carosel-item{

        .product-item {
            @include hover-focus() {
                .hover-area{
                    display: block;
                }
            }
        }

        .product-item-inner{
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 22px;

            .product-media-left {
                flex: 0 0 43%;
                max-width: 43%;

                img {
                    max-width: 79%;
                    margin: auto;
                    display: block;
                }
            }
            .card-body{
                flex: 0 0 57%;
                max-width: 57%;
                align-self: stretch;
                padding: 0;

                .card-body-inner{
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .product-title {
                        font-size: 14px;
                        line-height: 18px;
                        color: #0062bd;
                        font-weight: 700;
                    }
                    .loop-product-categories{
                        margin-bottom: 12px;

                        a{
                            font-size: 12px;
                            line-height: 18px;
                            color: #878787;
                            margin-bottom: 12px;
                            text-decoration: none;

                            @include hover-focus(){
                                color: #333;
                            }
                        }
                    }
                    .product-item__price-add-to-cart {
                        margin: 0;
                        line-height: 18px;
                        margin-bottom: 7px;
                    }
                    .initial{
                        color: red;
                    }
                }
            }

            .hover-area{
                flex: 0 0 57%;
                align-self: flex-end;
                margin-left: 43%;
                max-width: 57%;
                display: none;
                border-top: 1px solid #eaeaea;

                .action-buttons{
                    width: 100%;
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
                a {
                    padding-top: 7px;
                }
            }
            .loop-product-title {
                text-decoration: none;
            }
        }
    }
}