.products-2-1-2 {
    .nav-link {
        font-size: 15px;
        color: #333e48;
        line-height: 34px;
    }
    @include stretch-full-width();
    background-color: #f9f9f9;
    padding-top: 25px;

    .columns-2-1-2  {
        display: flex;
    }
    .product-item{
        background: #fff;
        margin: 5px;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .products-2 {
        @include make-col(3);
        @include make-col-ready();
    }
    .product-1 {
        @include make-col(6);
        @include make-col-ready();

        .product-item{
            max-width: 100%;
            flex: 0 0 100%;
        }
        .product-center {
            padding: 0px 6px;
        }
    }

    .nav 
    .nav-link {
        @include hover-focus() {
             position: relative;
             
            &:after {
                content: ' ';
                border-bottom: 2px solid #fed700;
                display: block;
                position: absolute;
                top: 105%;
                width: 100%;
                right: 1px;
            }

            &:before{
                content: ' ';
                height: 4px;
                width: 10px;
                display: block;
                position: absolute;
                top: 111%;
                left: 50%;
                border-radius: 0 0 10px 10px;
                transform: translateX(-50%);
                background: #fed700
            }

        }
    }
}