.section-products {
.section-product-items .products {
        padding: 12px 0px 35px 4px;
    }

     header{
        border-bottom: 1px solid #dadada;

        h1{
            font-size: 22px;
        }
    }
    .product-item__action-buttons a{
        padding: 0;
        font-size: 12px;
    }
}
    