.section-products {
    .section-product-items .products {
        padding: 12px 0px 35px 4px;
    }

    header{
        border-bottom: 1px solid #dadada;

        h1{
            font-size: 22px;
            margin: 0;
            padding-bottom: 9px;
            display: inline-block;
            position: relative;

            &:after{
                content: ' ';
                border-bottom: 2px solid #fed700;
                display: block;
                position: absolute;
                top: 100%;
                width: 100%;
            }
        }
    }

    .product-item__action-buttons a{
        padding: 0;
        font-size: 12px;
    }

    .product-item__body {
        a{
            display: block;
        }
    }
}
