.products{
    @include make-row();
    @include list-unstyled();
        
    .product-item {
        @include make-col(3);
        @include make-col-ready();
        padding-right: 0px;
        padding-left: 0px;
    }
    .product-item-inner{
        padding: 20px 24px 14px;
    }
    &.columns-1 .product-item{
        @include make-col(12);

        &:after {
            content: none;
        }
        & .product-item__thumbnail {
            @include make-row();
        }
    }
    &.columns-2 .product-item{
        @include make-col(6);

        &:nth-child(2n):after{
            content: none;
        }
        & .product-item__thumbnail {
            @include make-row();
        }
    }
    &.columns-3 .product-item {
        @include make-col(4);

        &:nth-child(3n):after{
            content: none;
        }
    }
    &.columns-4 .product-item {
        @include make-col(3);

        &:nth-child(4n):after{
            content: none;
        }
    }
    &.columns-5 .product-item {
        @include make-col(2.4);

        &:nth-child(5n):after{
            content: none;
        }
    }
    &.columns-6 .product-item {
        @include make-col(2);

        &:nth-child(6n):after{
            content: none;
        }
    }
    &.columns-7 .product-item {
        @include make-col(1.7);

        &:nth-child(7n):after{
            content: none;
        }
    }
    &.columns-8 .product-item {
        @include make-col(1.5);

        &:nth-child(8n):after{
            content: none;
        }
    }
}