.products {
    @include make-row();
    @include list-unstyled();

    .product-item {
        @include make-col(3);
        @include make-col-ready();
        padding-right: 0px;
        padding-left: 0px;
    }
    .product-item-inner {
        padding: 12px 29px 15px 30px;
    }
}